<!-- [SECOND BLOCK] BEGIN -->
<div class="container">
  <div class="row">
    <div class="twelwe columns title__column">
      <h3>Hey, I'm Mykola Gogol</h3>
      <p>Web Developer</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="twelwe columns title__column">
      <h1>I DESIGN <span id="span__ampersant">&amp;</span> DEVELOP <span id="span__website">WEBSITES</span></h1>
    </div>
  </div>
</div>
<!-- Computer Image -->
<div class="container">
  <div class="row">
    <div class="twelwe columns image__column">
      <%= image_tag 'computer_min.png', alt: 'Computer Image', class: 'u-max-full-width' %>
    </div>
  </div>
</div>
<!-- [SECOND BLOCK] END -->

<!-- [THIRD] BLOCK BEGIN -->
<div class="wrapper">
  <div class="container">
    <div class="row third__block">
      <div class="twelwe columns quote__column">
        <blockquote>Websites promote you 24/7: No employee will do that.</blockquote>
        <hr>
      </div>
    </div>
    <!-- [THIRD] BLOCK END -->
    <!-- [FOUR BLOCK] BEGIN -->
    <a id="about_n_portfolio"></a>
    <div class="row">
      <div class="six columns about-me__column">
        <p class="main_title">About Me</p>
        <hr>
        <div class="row">
          <div class="three columns">
            <%= image_tag 'photo.jpg', alt: 'Mykola Gogol Photo', class: 'profile_image' %>
          </div>
          <div class="eight columns">
            <p class="name_title"><b>Mykola Gogol</b></p>
            <p>
              <span class="skill_text ruby_text">Ruby on Rails</span>
              <span class="skill_text js_text">JS</span>
              <span class="skill_text html_text">HTML&CSS</span>
              <span class="skill_text wordpress_text">Wordpress</span>
              <span class="skill_text bootstrap_text">Bootstrap</span>
              <span class="skill_text jquery_text">jQuery</span>
              <span class="skill_text angular_text">AngularJS</span>
            </p>
            <!--<p><b>3 years</b> of work experience</p>-->
            <p class="inspiring_text">3 years of work experience.</p>
          </div>
        </div>
        <p>
          <b>Hello there, My Friend</b><br>
          I'm a programmer & designer with warm feelings to Web Development, from Ukraine, Ivano-Frankivsk.
          <br><br>
          Starting with basic websites several years ago I found for myself that is my passion.
          And now I'm looking for challenging projects and opportunities to help people achieve their goals.

          <br><br><b>I Can Help.</b><br>
          If you value quality and elegant websites, delivered quickly,
          from a person that understands the value of your goals then I'm the person you should
          be working with!
      </div>
      <div class="six columns portfolio__column">
        <p class="main_title">Check My Portfolio</p>
        <hr>
        <div class="row">
          <% @projects.each do |project| %>
              <div class="portfolio__item"><%= link_to image_tag(project.image.url(:thumb)), project %></div>
          <% end  %>
        </div>
        <div class="row">
          <div class="twelve columns">
            <%= link_to 'View All', projects_path, class: 'view_all_button u-pull-right' %>
          </div>
        </div>
      </div>
    </div>
    <!-- [FOUR BLOCK] END -->
  </div>
</div>
<!-- [CONTACT ME] BEGIN -->
<a id="contact"></a>
  <div class="row">
    <div class="twelve columns contact_me">
      <p class="main_title">Say Hello!</p>
      <p class="contact_me__description">I’m always available for awesome projects, get in touch!</p>
      <hr>
    </div>
  </div>

  <!-- Contact Form Rendering -->
  <%= render 'contacts/form' %>

  </form>
</div>
<!-- [CONTACT ME] END -->