<div class="container">
  <div class="row contact_form_row">
    <%= simple_form_for @contact do |f| %>
        <div class="twelve columns">
          <%= f.input :name, required: true, placeholder: 'Your name', input_html: { id: 'name__Input', class: 'center_block contact_input' }, label: false %>
        </div>
        <div class="twelve columns">
          <%= f.input :email, required: true, placeholder: 'Email', input_html: { id: 'email__Input', class: 'center_block contact_input' }, label: false %>
        </div>
        <div class="twelve columns">
          <%= f.input :message, required: true, as: :text, input_html: { rows: '10', id: 'message__Input', class: 'center_block contact_input' }, placeholder: 'Hi Mykola ...', label: false %>
        </div>
        <div class="hidden">
          <%= f.input :nickname %>
        </div>
        <div class="three columns margin-none">
          <p></p>
        </div>
        <div class="four columns social_column">
          <a href="#" class="social_link_envelope"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/m.gogol.dev" class="social_link_facebook"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="three columns success_column">
          <%= f.submit 'Send', class: 'button-primary u-full-width', id: 'btn__sumbit' %>
        </div>
    <% end %>
  </div>
</div>