<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h2 class="text_center project__title"><%= @project.title %></h2>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= image_tag @project.image.url(:medium), class: 'u-max-full-width center_block' %>
    </div>
  </div>
  <div class="row">
    <div class="ten columns u-cf center_block description__block">
      <p class="project__description"><%= markdown @project.description %></p>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="row">
      <div class="two columns edit__buttons_column u-cf center_block">
        <%= link_to 'Edit', edit_project_path(@project) %>
        <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

<!-- [CONTACT ME] BEGIN -->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="twelve columns contact_me">-->
      <!--<p class="main_title">Say Hello!</p>-->
      <!--<p class="contact_me__description">I’m always available for awesome projects, get in touch!</p>-->
      <!--<hr>-->
    <!--</div>-->
  <!--</div>-->
  <!--<form action="">-->
    <!--<div class="row">-->
      <!--<div class="twelve columns">-->
        <!--<input type="text" class="center_block contact_input" placeholder="Name" id="name__Input">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="twelve columns">-->
        <!--<input type="email" class="center_block contact_input" placeholder="Email" id="email__Input">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="twelve columns contact_input_column">-->
        <!--<textarea class="center_block contact_input" placeholder="Hi Mykola …" id="message__Input"></textarea>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row row__buttons">-->
      <!--<div class="three columns">-->
        <!--<p></p>-->
      <!--</div>-->
      <!--<div class="four columns social_column">-->
        <!--<a href="#" class="social_link_envelope"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>-->
        <!--<a href="https://www.facebook.com/m.gogol.dev" class="social_link_facebook"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>-->
      <!--</div>-->
      <!--<div class="three columns success_column">-->
        <!--<input class="button-primary u-full-width" id="btn__sumbit" type="submit" value="Send">-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->
<!-- [CONTACT ME] END -->
