<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h2 class="text_center project__title"><%= @project.title %></h2>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= image_tag @project.image.url(:medium), class: 'u-max-full-width center_block' %>
    </div>
  </div>
  <div class="row">
    <div class="ten columns u-cf center_block ">
      <p class="project__description"><%= @project.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="two columns edit__buttons_column u-cf center_block">
      <%= link_to 'Edit', edit_project_path(@project) %>
      <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
