<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700" rel="stylesheet">
  <!-- Skeleton CSS Framework CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin="anonymous" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>Mykola Gogol | Personal Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- [HEADER] BEGIN -->
<div class="wrapper">
  <div class="container header__container">
    <div class="row">
      <div class="twelve columns header__navigation">
        <nav>
          <%= link_to 'Mykola Gogol', root_path, class: 'logo__link' %>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Portfolio</a>
          <a href="#">Contact Me</a>
        </nav>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- [HEADER] END -->
<%= yield %>
<!-- [CONTACT ME] BEGIN -->
<div class="container">
  <div class="row">
    <div class="twelve columns contact_me">
      <p class="main_title">Say Hello!</p>
      <p class="contact_me__description">I’m always available for awesome projects, get in touch!</p>
      <hr>
    </div>
  </div>
  <form action="">
    <div class="row">
      <div class="twelve columns">
        <!-- <label for="email__Input" class="center_block">Your email</label> -->
        <input type="text" class="center_block contact_input" placeholder="Name" id="name__Input">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <input type="email" class="center_block contact_input" placeholder="Email" id="email__Input">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns contact_input_column">
        <textarea class="center_block contact_input" placeholder="Hi Mykola …" id="message__Input"></textarea>
      </div>
    </div>
    <div class="row row__buttons">
      <div class="three columns">
        <p></p>
      </div>
      <div class="four columns social_column">
        <a href="#" class="social_link_envelope"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/m.gogol.dev" class="social_link_facebook"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="three columns success_column">
        <input class="button-primary u-full-width" id="btn__sumbit" type="submit" value="Send">
      </div>
    </div>
  </form>
</div>
<!-- [CONTACT ME] END -->

<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <p class="copyright_text">Copyright &copy; 2016 Mykola Gogol. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</body>
</html>
